/* Header.css */

.header {
  background-color: transparent; 
  color: #481212; 
  padding: 0.5rem 0; 
  padding-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; 
}

.logo {
  font-size: 5rem; 
  text-decoration: none;
  color:  linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959, #a700b3);
  font-family: 'Garamond', serif; 
  font-weight: bold; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  transition: all 0.3s ease; 
}

.logo:hover {
  color: #ffa500; /* Change color on hover */
}


/* RegistrationForm.css */

.registration-form {
  position: relative;
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px;
  overflow-y: auto; /* Make the form scrollable when necessary */
  max-height: 80vh; /* Limit the maximum height of the form to 80% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the form vertically */
  margin-bottom: 70px;
}

.content {
  position: relative;
  z-index: 1;
}

/* Hide the scrollbar but allow scrolling */
.registration-form {
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

/* Hide the scrollbar for Webkit-based browsers */
.registration-form::-webkit-scrollbar {
  display: none;
}


.content-regform {
  width: 100%;
}

.registration-form h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-size: 32px;
}


.registration-form .form-group {
  margin-bottom: 30px; /* Add space between form groups */
}

.registration-form .form-group label {
  display: block;
  margin-bottom: 10px;
  color: #555; /* Gray text color for labels */
  font-size: 18px; /* Larger font size for labels */
}

.registration-form .form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: #f0f0f0; /* Light gray background for file input */
  border-radius: 10px; /* Rounded corners */
}

.registration-form .form-group input[type="file"]:hover {
  background-color: #e0e0e0; /* Darker gray on hover */
}

.registration-form .form-group input[type="file"]::file-selector-button {
  padding: 10px;
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959);
  color: #fff;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}

.registration-form .form-group input[type="file"]::file-selector-button:hover {
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959, #a700b3);
}

.registration-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.registration-form button[type="submit"]:hover {
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959, #a700b3);
}

.registration-form p {
  margin-top: 20px; 
  text-align: center; 
  color: #666; 
}

.registration-form p a {
  color:linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959);
  text-decoration: none;
}

.registration-form p a:hover {
  text-decoration: underline;
}



/* Login form */

.login-form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  border-radius: 10px; 
  padding: 40px;
}

.content {
  position: relative;
  z-index: 1;
}

.login-form h2 {
  margin-bottom: 30px; 
  text-align: center; 
  color: #333; 
  font-size: 28px; 
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #555; 
}

.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd; 
  background-color: transparent; 
  transition: border-bottom-color 0.3s; /* Smooth transition for border color */
}

.form-group input:focus {
  border-bottom-color: #9B51E0; 
  outline: none; 
}

button[type="submit"] {
  display: block;
  margin: 0 auto; 
  width: 50%; 
  max-width: 200px; 
  padding: 12px;
  font-size: 16px;
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959, #a700b3);
}


p {
  margin-top: 20px; 
  text-align: center;
  color: #666; 
}

p a {
  color:linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}





/* Dashboard.css */

.dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 3D box shadow effect */
}

.dashboard h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.vehicle-profile,
.report {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.vehicle-profile h3,
.report h3 {
  font-family: 'Arial', sans-serif; 
  color: #555; /* Dark gray color */
}

.vehicle-profile p,
.report p {
  margin-bottom: 10px;
  color: #555;
}

.vehicle-profile button,
.report button {
  padding: 10px 20px;
  margin-top: 20px;
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959); /* Green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
}

.vehicle-profile button + button {
  margin-left: 10px; 
}

.report button + button {
  margin-left: 10px; 
}

.vehicle-profile button:hover,
.report button:hover {
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959, #a700b3);
  transform: translateY(-1px); /* Move button slightly up on hover */
}

.profile-photo {
  text-align: center;
  margin-bottom: 30px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-family: 'Arial', sans-serif; 
  color: #333; /* Dark gray color */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Set the height of the .App container to 100% of viewport height */
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/home/daniel/fare/src/images/background.webp');
  background-size: cover;
  z-index: -1;
}

/* Add animation effect here */
@keyframes animateBackground {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.background-img {
  animation: animateBackground 20s infinite alternate;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, #4A90E2, #9B51E0, #FF5959); /* Watercolor gradient */
  padding: 20px 0; /* Add padding to the top and bottom */
 
}

.container {
  max-width: 1200px; /* Set maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
}

.footer-content {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Align items vertically */
}

.footer-content p {
  margin: 0; /* Remove default margin */
}

.footer-links {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.footer-links li {
  display: inline; /* Display list items horizontally */
  margin-right: 10px; /* Add space between list items */
}

.footer-links li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.footer-links a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Set link color */
  transition: color 0.3s ease; /* Add smooth color transition */
}

.footer-links a:hover {
  color: lightblue; /* Change link color on hover */
}
